<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML Python Flask Example</title>
  </head>
  <body>
	<h1>Enter the data to do the regression</h1>
    <form action="/model">
        <label for="dataX">Enter the data in X:</label><br>
        <input type="text" id="dataX" name="dataX"><br>
        <label for="dataY">Enter the data in Y:</label><br>
        <input type="text" id="dataY" name="dataY"><br>
        <input type="submit" value="Submit">
    </form>
  </body>
</html>